/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight);
  background-color: var(--bg-color);
  background-image:
  repeating-linear-gradient(to right, var(--bg-gradient-color-accent) 0 2px, transparent 2px 4px),
  repeating-linear-gradient(to bottom, var(--bg-gradient-color-accent) 0 2px, transparent 2px 4px),
  linear-gradient(var(--bg-gradient-color-from) 0.01%, var(--bg-gradient-color-to));
  background-position: center center;
  background-size: cover;
  background-attachment:fixed;
  color: var(--color-accent);
}

.header {
  padding-block: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 20px;
  margin-block-end: 101px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.frame {
  width: calc(696 / 1440 * 100%);
  background-color: var(--bg-color);
  border: 2px solid var(--color-accent);
}

.header__logo {
  font-family: var(--font-family-accent), fantasy, sans-serif;
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
}

.header__title {
  font-family: var(--font-family-accent), fantasy, sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  margin-block-end: 22px;
}

.header__theme-menu {
  position: relative;
  left: 10px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.theme-menu__button {
  position: relative;
  border: none;
  background-color: transparent;
  font-family: var(--font-family-accent), fantasy, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.theme-menu__button::after {
  content: '';
  width: 83%;
  height: 2px;
  position: absolute;
  bottom: -3px;
  left: 8%;
  transform: scaleX(0);
  background-color: var(--color-accent);
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 300ms ease;
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:focus-visible::after {
  transition: transform 300ms ease;
  transform-origin: left center;
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  width: 15px;
  height: 15px;
  animation: active-menu-point 500ms ease-in-out infinite alternate;
}

.content {
  display: flex;
  flex-direction: column;
  padding-block-end:  105px;
}

.content__cards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 51px;
  margin-block-end: 49px;
}

.content__cards-list-item__card-title {
  margin: 5px 8px;
  font-variation-settings: 'wght' var(--font-weight-title);
}

.content__cards-list-item__card__picture-wrapper {
  position: relative;
}

.content__cards-list-item__card__picture-wrapper-image {
  width: 100%;
  aspect-ratio: 1 / 1.014;
  object-fit: cover;
  object-position: center center;
  border-block: 2px solid var(--color-accent);
}

.nebula {
  filter: blur(3px) brightness(1.2) grayscale(0.6);
}

.change-shade {
  filter: hue-rotate(315deg);
}

.sepia {
  filter: sepia(0.5);
}

.hand-touch {
  filter: contrast(0.9) saturate(3.2);
}

.pink-egg {
  filter: hue-rotate(302deg);
}

.hand-ocean {
  filter: sepia(0.2) brightness(0.8);
}

.jungle {
  filter: opacity(0.9) contrast(1.2) brightness(1.8) sepia(0.3);
}

.content__cards-list-item__card__picture-wrapper-label {
  position: absolute;
  z-index: 2;
  top: 28px;
  right: 23px;
  color: var(--color-accent);
  font-size: 14px;
  font-family: var(--font-family-accent), fantasy, sans-serif;
  text-shadow: 0 0 3px var(--bg-color);
  opacity: 0.6;
  background-blend-mode: hard-light;
}

.content__cards-list-item__card__conteiner {
  padding: 19.5px 23px 25px;
  display: flex;
  flex-direction: column;
}

.content__cards-list-item__card__conteiner-paragraph {
  line-height: calc(21 / 18);
}

.content__cards-list-item__card__conteiner-paragraph:first-child {
  margin-block-end: 26px;
}

.content__cards-list-item__card__conteiner-evaluation {
  display: flex;
  align-self: end;
  align-items: center;
  gap: 8px;
  margin-block-start: 26px;
}

.content__cards-list-item__card__conteiner-button-heart {
  display: flex;
  background-color: transparent;
  border: none;
  padding: 0;
}

.content__cards-list-item__card__conteiner-button-heart:focus {
  outline: none;
}

.content__cards-list-item__card__conteiner-button-heart:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: -1px;
  transition: outline 300ms ease;
}

.content-button {
  position: relative;
  border: 2px solid var(--color-accent);
  background-color: var(--bg-color);
  cursor: pointer;
}

.content-button::before {
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  background-color: var(--color-accent);
}

.content-button:hover::before {
  transition: transform 0.5s ease-in-out;
  transform: scaleX(1);
  transform-origin: left center;
}

.content-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--color-accent);
  transition: box-shadow 300ms ease;
}

.content__cards-list-item__card__conteiner-button-like {
  padding-block: 6px;
  width: 130px;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  color: var(--font-color-button);
  font-family: var(--font-family-accent), fantasy, sans-serif;
  font-size: 14px;
  line-height: 0.9;
}

.content__button-save {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: center;
  padding: 15px 20px;
}

.content__button-save-svg {
  width: 22px;
  height: 22px;
}

.floppy-icon {
  mix-blend-mode: difference;
}

.dialog-floppy[open] {
  max-inline-size: 355px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.dialog-floppy::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.content__dialog-window__title-part {
  display: flex;
  align-items: center;
  gap: 18px;
}

.content__dialog-window__title-part-svg {
  width: 85px;
  height: 40px;
}

.content__dialog-window__title-part-title {
  font-family: var(--font-family-accent), fantasy, sans-serif;
  color: var(--color-accent);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.content__dialog-window-button {
  text-transform: uppercase;
  padding-block: 7px;
  width: 100%;
}

@media (width <= 400px) {
  .frame {
    width: 100%;
  }

  .content__button-save-svg {
    width: 27px;
    height: 27px;
  }

  .content__cards-list {
    gap: 50px;
  }

  .content__cards-list-item__card__conteiner {
    padding: 20px 25px 26px;
  }

  .content__dialog-window[open] {
    padding-inline: 40px;
    max-inline-size: 340px;
  }
  
  .content__button-save {
    flex-direction: column;
  }
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-family), sans-serif;
  }
}

@supports ((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .content__cards-list-item__card__picture-wrapper-label {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}