:root {
    --font-family: 'Inter-Variable';
    --font-family-accent: 'PressStart2P';
    --font-weight: 400;
    --font-weight-title: 700;
    --bg-color: #fff;
    --color-accent: #000;
    --bg-gradient-color-accent: #d3d3d3;
    --bg-gradient-color-from: #e7e7e7;
    --bg-gradient-color-to: #1a1a1a;
  }